body {
  background-image: url("https://images.unsplash.com/photo-1588497859490-85d1c17db96d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-color: black;
  background-blend-mode: soft-light;
  background-color: #020202C0;
  background-size: contain;
  color: white;
}

.main-width {
  max-width: 1340px;
}

